# TP NoSQL

Prénom : Meriam

Nom : BOUMEDIENE

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [1]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [2]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://mongo_user:tpxd16Labkr9xrWg@cluster0.3qage.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'airbnb']

1. Combien de logements sont la base de données ?
   
**Il y a 5 555 logements**

In [15]:
q1 = db.airbnb.count_documents({})
print(q1)

5555

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

**Le prix moyen à Hong kong est de $762.5, c'est le plus élévé**

In [107]:
ville = db.airbnb.aggregate([
    { "$group": { "_id": "$address.market","prix_moy": { "$avg": "$price" }}},
    { "$sort": { "prix_moy": -1 }}
])

q2 = pd.DataFrame(list(ville))
print(q2)

                      _id                             prix_moy
0               Hong Kong  762.4781906300484652665589660743134
1          Rio De Janeiro  525.8059701492537313432835820895522
2   Other (International)                               445.75
3                Istanbul  367.9454545454545454545454545454545
4                   Kauai  288.8208955223880597014925373134328
5                    Maui  286.5882352941176470588235294117647
6                    Oahu  212.2964426877470355731225296442688
7                  Sydney  197.7142857142857142857142857142857
8          The Big Island  179.4604316546762589928057553956835
9                New York  139.6260296540362438220757825370675
10       Other (Domestic)                               128.00
11                                                      115.50
12              Barcelona  100.9477848101265822784810126582278
13               Montreal  100.2330246913580246913580246913580
14                  Porto  69.12815884476534296028880866425993

3. Afficher la liste de tous les différents équipements qui existent.
   
**Il existe 186 équipements comme le DVD player, piscine privée ou bien baignoire**

In [130]:
equip = db.airbnb.aggregate([
    { "$unwind": "$amenities" },
    { "$group": { "_id": "$amenities" }}
])

q3 = pd.DataFrame(list(equip))
print(q3)

                       _id
0                  Bathtub
1              Fax machine
2         Step-free access
3             Private pool
4               Waterfront
..                     ...
181        Convection oven
182  Room-darkening shades
183        Outdoor parking
184                     TV
185            Safety card

[186 rows x 1 columns]

4. Combien de propriétés incluent le Wifi dans les équipements ?
   
**Il y a 5303 propriétés ayant le Wifi comme équipement**

In [17]:
q4 = db.airbnb.count_documents({"amenities": "Wifi"})
print(q4)

5303

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

**Le logement "Barra da Tijuca beach house" a 9 chambres et 15 lits**

In [74]:
bed = db.airbnb.aggregate([
       { "$group": { "_id": "$name", 
                 "nb_chambre":{"$sum": "$bedrooms"},
                 "nb_lits": { "$sum": "$beds" }}} 
])
q5=pd.DataFrame(list(bed))
print(q5)

                                                    _id  nb_chambre  nb_lits
0                   O charme de estar em frente à praia           1        1
1                  Metro Vilar Suites Vilar do Pinheiro           1        4
2                        room in the center of Beşiktaş           2        2
3                      UD Rambla Suites  Pool 27 (2 BR)           2        2
4               Stunning studio APT in the heart of NYC           0        3
...                                                 ...         ...      ...
5533                        Barra da Tijuca beach house           9       15
5534                      PENSAO FAVORITA / GUEST_HOUSE           1        2
5535                   Astoria 1 Bed, 2 Blocks to Train           1        1
5536    The Cov @ Marrickville (the Brooklyn of Sydney)           2        2
5537  Exhibition Center- Beautiful 1BR Perfect Locat...           1        1

[5538 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

**Il y a 554 logement à Porto comme "Be happy in Porto" au prix de 30**

In [51]:
porto = db.airbnb.find({"address.market" : "Porto"},
            { "_id": 0, "name" : 1 ,"price": 1 }     )
q6 = pd.DataFrame(list(porto))
print(q6)

                                    name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4     A Casa Alegre é um apartamento T1.   40.00
..                                   ...     ...
549         Number283 - Your home abroad   48.00
550        Cozy apartment downtown Porto   58.00
551                   Soares Guest House   90.00
552   Central, Modern, University, Metro   41.00
553     StayIN Oporto Música - Apartment  500.00

[554 rows x 2 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

**Le plus populaire est "#Private Studio - Waikiki Dream" avec 533 commentaires**

In [80]:
hote = db.airbnb.aggregate([ 
    { "$unwind": "$reviews" },
    { "$group": {"_id": "$name", "nb_commentaire": {"$sum": 1}}},
     { "$sort": { "nb_commentaire": -1 }},
     { "$limit": 5 }
])
q7 = pd.DataFrame(list(hote))
print(q7)

                                                 _id  nb_commentaire
0                    #Private Studio - Waikiki Dream             533
1  Near Airport private room, 2 bedroom granny fl...             469
2           La Sagrada Familia (and metro) 4 blocks!             463
3                PRIVATE Room in Spacious, Quiet Apt             420
4                      traditional and Charming room             408

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

**Istanbul est 1er avec 660 logements suivis de Montréal avec 648**

In [144]:
ville = db.airbnb.aggregate([ 
    { "$group": {"_id": "$address.market", "count": {"$sum": 1}}},
     { "$sort": {"count": -1}},
     { "$limit": 6 }
])
q8 = pd.DataFrame(list(ville))
print(q8)

         _id  count
0   Istanbul    660
1   Montreal    648
2  Barcelona    632
3  Hong Kong    619
4     Sydney    609
5   New York    607

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

**Filipe est celui qui a le plus commenté avec 24 commentaires et Nick est 2e avec 13 commentaires**

In [141]:
user = db.airbnb.aggregate([
    { "$unwind": "$reviews" },
    { "$group": {"_id": "$reviews.reviewer_id", "user": { "$first": "$reviews.reviewer_name" },"nb_comm": { "$sum": 1 }}},
    { "$sort": { "nb_comm": -1 } },
    { "$limit": 20 },
    { "$project": { "_id": 0, "user": 1, "nb_comm": 1 } }
])

q10 = pd.DataFrame(list(user))
print(q10)

        user  nb_comm
0     Filipe       24
1       Nick       13
2        Uge       10
3      Thien        9
4       Lisa        9
5      David        8
6       Todd        8
7       Jodi        8
8   Courtney        8
9       Lisa        8
10     David        7
11     Lance        7
12      Mary        6
13     Karen        6
14     Chris        6
15     Megan        6
16   Gonzalo        6
17   Branden        6
18      Erik        6
19       Dan        6

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

**La note moyenne des visiteurs à Sydney est de 93.45**

In [133]:
sydney = db.airbnb.aggregate([
    { "$match": { "address.market": "Sydney" } },
    { "$group": { "_id": 0 ,"note_moy": { "$avg": "$review_scores.review_scores_rating" }}},
    { "$project": { "_id":"Sydney", "note_moy": 1 } }
])

q11 = pd.DataFrame(list(sydney))
print(q11)

   note_moy     _id
0  93.45567  Sydney

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom.

**Il y a 47 logements contenant le mot "park" comme "Triple room Barcelona Guell park"**

In [85]:
park = db.airbnb.find({"name": {"$regex" : "park"}},
            {"_id": 0, "name": 1} )

q12 = pd.DataFrame(list(park))
print(q12)

                                                 name
0                    Triple room Barcelona Guell park
1   Studio convenient to CBD, beaches, street park...
2                   Lachine room+Free parking+Airport
3                Apartment in the centre with parking
4      VERY LARGE 5 Bedroom Home, free onsite parking
5          TPC - Flying Leaves Balcony (free parking)
6   Bright,cozy,quiet,walking distance metro,park ...
7                   Apartment located near Guell park
8    Private Studio closed to town w/ compact parking
9   Huge kid-friendly Brooklyn home with parking/p...
10                     Amazing view Apt@ Olympic park
11              Luxury condo with free indoor parking
12  Bright & spacious 2 bed near Molson Park w/par...
13        Newly renovated cosy apartment with parking
14  Clean, bright & cozy bedroom /w convenient par...
15  Best location downtown + free parking - Esperanza
16          Palacio Garden's Apartment (Free parking)
17   Close to park and sea: Light and airy family apt
18             Charming apartment facing Laurier park
19            Manly Haven- Best Location with carpark
20      MILE-END ☀️Near MONTROYAL park☀️ FREE PARKING
21    7 guests at ville St-Laurent, with parking spot
22  Your place for Sea, Cellars & Porto! (parking ...
23                 Repos de Ouro  Street of city park
24  Terrace- park view, great location, quiet street.
25     Free parking free laundry at Dabin's Cozy Home
26        Maison de ville parking et à 2 pas du métro
27                 Homa 2 - 1 BR sleep 4 parking - AC
28   Amazing location, room for 3, w. private parking
29   Super bright apartment in quiet area facing park
30              Lovely apartment with private parking
31  Renovated sunny 3 Bedroom apartment - easy par...
32    Quiet spacious 1 bedroom apartment with parking
33     Penthouse Downtown with private indoor parking
34                 A Antiga Adega (parking available)
35    Luxury 2 bed 2 bath 1 parking in Allure Waikiki
36  Freshly renovated-3 bedroom-heart of MTL-parki...
37    Quiet house with parking near downtown Montreal
38      Lux 2 bedroom/2 bath/2 balconies/free parking
39                          2 Bedroom -guest parking.
40                     Lovely home with parking spot!
41            2 bedroom + 1 sofa, free car park place
42                4BR family home nr beaches and park
43       4 bedroom home W/diamond head view w/parking
44  Sydney Studio in Glebe Close to CBD. SparklinC...
45  1921 15kms from Sydney CBD with Pool Spa parking.
46                  Big 2bdm, Views, WIFI and carpark

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.

**Il y a 3 logements**

In [109]:
lat = db.airbnb.aggregate([
     { "$match": { 
        "address.location.coordinates.1": { "$gte": 36.1, "$lte": 40.6 },
        "price": { "$gte": 100, "$lte": 200 }}},
    { "$project": {"_id": 0,"name": "$name", }}  
])
q13 = pd.DataFrame(list(lat))
print(q13)

                                             name
0              Cozy Comfy Suite of Rockaway Beach
1       Coney Island MCU Park Wi fi Cable Apt****
2  Sheepshead Bay, 1-bdr apartment. Close to all!