# TP NoSQL

Prénom : Meriam

Nom : BOUMEDIENE

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [1]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [2]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://mongo_user:tpxd16Labkr9xrWg@cluster0.3qage.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['restaurants', 'airbnb']

1. Combien de logements sont la base de données ?
   
**Il y a 5 555 logements**

In [15]:
q1 = db.airbnb.count_documents({})
print(q1)

5555

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

**Le prix moyen à Hong kong est de $762.5, c'est le plus élévé**

In [107]:
ville = db.airbnb.aggregate([
    { "$group": { "_id": "$address.market","prix_moy": { "$avg": "$price" }}},
    { "$sort": { "prix_moy": -1 }}
])

q2 = pd.DataFrame(list(ville))
print(q2)

                      _id                             prix_moy
0               Hong Kong  762.4781906300484652665589660743134
1          Rio De Janeiro  525.8059701492537313432835820895522
2   Other (International)                               445.75
3                Istanbul  367.9454545454545454545454545454545
4                   Kauai  288.8208955223880597014925373134328
5                    Maui  286.5882352941176470588235294117647
6                    Oahu  212.2964426877470355731225296442688
7                  Sydney  197.7142857142857142857142857142857
8          The Big Island  179.4604316546762589928057553956835
9                New York  139.6260296540362438220757825370675
10       Other (Domestic)                               128.00
11                                                      115.50
12              Barcelona  100.9477848101265822784810126582278
13               Montreal  100.2330246913580246913580246913580
14                  Porto  69.12815884476534296028880866425993

3. Afficher la liste de tous les différents équipements qui existent.
   
**Il existe 186 équipements comme le DVD player, piscine privée ou bien baignoire**

In [130]:
equip = db.airbnb.aggregate([
    { "$unwind": "$amenities" },
    { "$group": { "_id": "$amenities" }}
])

q3 = pd.DataFrame(list(equip))
print(q3)

                       _id
0                  Bathtub
1              Fax machine
2         Step-free access
3             Private pool
4               Waterfront
..                     ...
181        Convection oven
182  Room-darkening shades
183        Outdoor parking
184                     TV
185            Safety card

[186 rows x 1 columns]

4. Combien de propriétés incluent le Wifi dans les équipements ?
   
**Il y a 5303 propriétés ayant le Wifi comme équipement**

In [17]:
q4 = db.airbnb.count_documents({"amenities": "Wifi"})
print(q4)

5303

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

**Le logement "Barra da Tijuca beach house" a 9 chambres et 15 lits**

In [74]:
bed = db.airbnb.aggregate([
       { "$group": { "_id": "$name", 
                 "nb_chambre":{"$sum": "$bedrooms"},
                 "nb_lits": { "$sum": "$beds" }}} 
])
q5=pd.DataFrame(list(bed))
print(q5)

                                                    _id  nb_chambre  nb_lits
0                   O charme de estar em frente à praia           1        1
1                  Metro Vilar Suites Vilar do Pinheiro           1        4
2                        room in the center of Beşiktaş           2        2
3                      UD Rambla Suites  Pool 27 (2 BR)           2        2
4               Stunning studio APT in the heart of NYC           0        3
...                                                 ...         ...      ...
5533                        Barra da Tijuca beach house           9       15
5534                      PENSAO FAVORITA / GUEST_HOUSE           1        2
5535                   Astoria 1 Bed, 2 Blocks to Train           1        1
5536    The Cov @ Marrickville (the Brooklyn of Sydney)           2        2
5537  Exhibition Center- Beautiful 1BR Perfect Locat...           1        1

[5538 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

**Il y a 554 logement à Porto comme "Be happy in Porto" au prix de 30**

In [51]:
porto = db.airbnb.find({"address.market" : "Porto"},
            { "_id": 0, "name" : 1 ,"price": 1 }     )
q6 = pd.DataFrame(list(porto))
print(q6)

                                    name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4     A Casa Alegre é um apartamento T1.   40.00
..                                   ...     ...
549         Number283 - Your home abroad   48.00
550        Cozy apartment downtown Porto   58.00
551                   Soares Guest House   90.00
552   Central, Modern, University, Metro   41.00
553     StayIN Oporto Música - Apartment  500.00

[554 rows x 2 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

**Le plus populaire est "#Private Studio - Waikiki Dream" avec 533 commentaires**

In [80]:
hote = db.airbnb.aggregate([ 
    { "$unwind": "$reviews" },
    { "$group": {"_id": "$name", "nb_commentaire": {"$sum": 1}}},
     { "$sort": { "nb_commentaire": -1 }},
     { "$limit": 5 }
])
q7 = pd.DataFrame(list(hote))
print(q7)

                                                 _id  nb_commentaire
0                    #Private Studio - Waikiki Dream             533
1  Near Airport private room, 2 bedroom granny fl...             469
2           La Sagrada Familia (and metro) 4 blocks!             463
3                PRIVATE Room in Spacious, Quiet Apt             420
4                      traditional and Charming room             408

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

**Istanbul est 1er avec 660 logements suivis de Montréal avec 648**

In [144]:
ville = db.airbnb.aggregate([ 
    { "$group": {"_id": "$address.market", "count": {"$sum": 1}}},
     { "$sort": {"count": -1}},
     { "$limit": 6 }
])
q8 = pd.DataFrame(list(ville))
print(q8)

         _id  count
0   Istanbul    660
1   Montreal    648
2  Barcelona    632
3  Hong Kong    619
4     Sydney    609
5   New York    607

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

In [149]:
caution = db.airbnb.aggregate([ 
    {"$match": {"accommodates": {"$gt": 4}, "security_deposit": {"$lt": 300}}},
     {"$project": {"_id" : 0,
            "name": 1,
            "security_deposit": 1,
            "accommodates": 1,
            "room_type": 1}},
])
q9= pd.DataFrame(list(caution))
print(q9)

                                                  name        room_type  \
0                              Ribeira Charming Duplex  Entire home/apt
1                   Catete's Colonial Big Hause Room B     Private room
2                  Kailua-Kona, Kona Coast II 2b condo  Entire home/apt
3                            2 bedroom Upper east side  Entire home/apt
4     Large railroad style 3 bedroom apt in Manhattan!  Entire home/apt
..                                                 ...              ...
446                  Large Comfortable CBD Convenience  Entire home/apt
447     March Madness Special! Aina Nalu Platinum D107  Entire home/apt
448               Economy Family Room for 4-5pax (306)     Private room
449  1921 15kms from Sydney CBD with Pool Spa parking.  Entire home/apt
450                   StayIN Oporto Música - Apartment  Entire home/apt

     accommodates security_deposit
0               8           200.00
1               8             0.00
2               6           200.00
3               5             0.00
4               9           199.00
..            ...              ...
446             6             0.00
447             6           200.00
448             5             0.00
449             9             0.00
450            16           200.00

[451 rows x 4 columns]

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

**Filipe est celui qui a le plus commenté avec 24 commentaires et Nick est 2e avec 13 commentaires**

In [155]:
user = db.airbnb.aggregate([
    { "$unwind": "$reviews" },
    { "$group": {"_id": "$reviews.reviewer_id", "user": { "$first": "$reviews.reviewer_name" },"nb_comm": { "$sum": 1 }}},
    { "$sort": { "nb_comm": -1 } },
    { "$limit": 20 },
    { "$project": { "_id": 1, "user": 1 } }
])

q10 = pd.DataFrame(list(user))
print(q10)

          _id      user
0    20775242    Filipe
1    67084875      Nick
2     2961855       Uge
3   162027327     Thien
4    20991911      Lisa
5     1705870     David
6    60816198      Todd
7    12679057      Jodi
8    55241576  Courtney
9    69140895      Lisa
10   78093968     David
11   47303133     Lance
12   57325457      Mary
13   24667379     Karen
14   86665925     Chris
15   25715809     Megan
16   73708321   Gonzalo
17  128210181   Branden
18   61469899      Erik
19   34005800       Dan

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

**La note moyenne des visiteurs à Sydney est de 93.45**

In [173]:
sydney = db.airbnb.aggregate([
    { "$match": { "address.market": "Sydney" } },
    { "$group": { "_id": 0 ,"note_moy": { "$avg": "$review_scores.review_scores_rating" }}}
])

q11 = pd.DataFrame(list(sydney))
print(q11)

   _id  note_moy
0    0  93.45567

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom.

**Il y a 79 logements contenant le mot "park" comme "Triple room Barcelona Guell park"**

In [182]:
park = db.airbnb.find({"name": {"$regex" : r"\bpark\b", "$options" : "i"}},
            {"_id": 0, "name": 1} )

q12 = pd.DataFrame(list(park))
print(q12)

                                                 name
0   Sydney Hyde Park City Apartment (checkin from ...
1                    UWS Brownstone Near Central Park
2                    Triple room Barcelona Guell park
3                   Park Guell apartment with terrace
4                 Charming Spacious Park Slope Studio
..                                                ...
74                  Large Garden Duplex on Park block
75                     Charming Studio by Bryant Park
76                4BR family home nr beaches and park
77                       Astoria Room Facing the Park
78                 Park Slope Private Bed+Livingroom!

[79 rows x 1 columns]

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.

**Il y a 3 logements**

In [109]:
lat = db.airbnb.aggregate([
     { "$match": { 
        "address.location.coordinates.1": { "$gte": 36.1, "$lte": 40.6 },
        "price": { "$gte": 100, "$lte": 200 }}},
    { "$project": {"_id": 0,"name": "$name", }}  
])
q13 = pd.DataFrame(list(lat))
print(q13)

                                             name
0              Cozy Comfy Suite of Rockaway Beach
1       Coney Island MCU Park Wi fi Cable Apt****
2  Sheepshead Bay, 1-bdr apartment. Close to all!